@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using tooorangey.RssFeedUrl.Models
@using tooorangey.RssFeedUrl.Extensions
@{
    Layout = "Master.cshtml";
}

@{
var rssFeed =Model.Content.GetPropertyValue<FeedResult>("rssFeedUrl");
}

@if (rssFeed.HasFeedResults)
{
    <h1>@rssFeed.SyndicationFeed.Title.Text</h1>
    <h2 class="muted">(@rssFeed.FeedUrl)</h2>
    <div class="container">
        <div class="row">
            @foreach (var feedItem in rssFeed.SyndicationFeed.Items)
            {
                <div class="col-md-4"><h2>@feedItem.Title.Text</h2><h6 class="muted">@feedItem.PublishDate.ToTimeAgo()<br />@feedItem.PublishDate.ToString("hh:mmtt dddd, dd MMM yyyy")</h6><div>@Html.Raw(feedItem.Summary.Text)</div><a class="btn btn-primary" title="@feedItem.Title.Text" href="@feedItem.Links[0].Uri">Read more...</a></div>
            }
        </div>
    </div>
}